.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-card-head{
  background-color: #1eb2a6 !important;
  background: #1eb2a6 !important;
  color: white !important;
}
.ant-layout-header{
  background-color: white !important;
}
.ant-layout-sider-children{
  background-color: white !important;
}
.ant-layout-footer{
  background-color: white !important;
}
.ant-row{
  background-color: white !important;
}
.ant-list-item{
  padding: 30px !important;
  background-color: white !important;
}
.ant-list-pagination{
  text-align: center !important;
}
.ant-pagination{
  background-color: white !important;
}
.ant-list-pagination{
margin: 0px !important;
}
.ant-list-footer{
  padding: 0px !important;
}
#components-page-header-demo-content .image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  #components-page-header-demo-content .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}