.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  #components-page-header-demo-content .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}

html{
  overflow-x: hidden;
}

.myHeader{
  background-color: #232a34;
  min-height: 66px;
  color: #FFFFFF;
  font-size: medium;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.myHeader a{
  color: #FFFFFF;
}

.myHeader li{
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.myHeader button{
  background-color: #05a081 !important;
  border-color: #05a081 !important;
}

.mainIntro{
  background-image: url("./assets/img/intro2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  
}

.mainIntro h1{
  color: #FFFFFF;
  font-size: xx-large;
}

.mainCategory{
  margin-top: 30px;
}

.mainCategory li{
  list-style-type: none;
  display: inline;
  border-radius:30px;
  background-color: #29a19c;
  padding: 10px 20px;
  margin-left: 10px;
}

.mainCategory li:hover{
  background-color: #222831;
}

.mainCategory li a{
  color: #ffffff;
}

.mainContent img{
  height: auto;
  width: 300px;
}
.mainContent{
  padding : 0;
}

.ant-card-bordered{
  border: none !important;
}
.contentContainer{
  position: relative;
  color: white;
}

.contentContainer:hover > .downloadInfo{opacity: 1; bottom: 10px; transition: bottom 0.1s linear;}

.downloadButton{
  position: absolute;
  background-color: #05a081;
  right: 10px;
}

.downloadInfo{
  bottom: 0px;
  opacity: 0;
}

.contentName{
  position: absolute;
  top: 5px;
  color: #FFFFFF;
  left: 10px;
  opacity: 1;
}

.totalDownload{
  position: absolute;
  left: 10px;
}

.totalDownload img{
  height: 10px;
  width: 10px;
}

.myFooter{
  background-color: #232a34;
  min-height: 66px;
  color: #FFFFFF;
  font-size: medium;
}
.myFooter li{
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.myFooter li a{
  color: #ffffff;
}

.myFooter li a:hover{
  color: #1890ff;
}